<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-undo-outline" style="zoom: 1.0;" [routerLink]="['/mostrar-servicios']"></ion-icon>
      Actualización de datos del servicio
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines = "full">
    <ion-item>
      <ion-label position ="floating">Provincia</ion-label>
      <ion-input [(ngModel)]="provincia" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position ="floating">Canton</ion-label>
      <ion-input [(ngModel)]="canton" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position ="floating">Distrito</ion-label>
      <ion-input [(ngModel)]="distrito" type="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="actualizarServicio()"
        color = "primary" shape = "full" expand ="block">Actualizar</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
