<ion-header class="formulario">

    <ion-toolbar>
        <ion-title class="cajita">
            <h1>Servicios de Hogar</h1>
        </ion-title>
    </ion-toolbar>
    <div class="apartados">
        <ion-button class="botonesCentrados" expand="block" shape="round" routerLink="/crear-servicio" color="secondary">
            <ion-icon name="document-text-outline"></ion-icon>Crear Servicio
        </ion-button>
        <ion-button class="botonesCentrados" expand="block" shape="round" routerLink="/mostrar-servicios" color="secondary">
            <ion-icon name="people-circle-outline"></ion-icon>
            Mostrar Servicios</ion-button>
        <ion-button class="botonesAba" expand="block" shape="round" routerLink="/login" color="secondary">Login
        </ion-button>

    </div>

</ion-header>